<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>486086942642-ctq6cqdh5hg7s9v4i94f0brb16o4cr9i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486086942642-ctq6cqdh5hg7s9v4i94f0brb16o4cr9i</string>
	<key>API_KEY</key>
	<string>AIzaSyDBp7qsl-TQTfd3gknLcZ6hFe1vj2Tv6_4</string>
	<key>GCM_SENDER_ID</key>
	<string>486086942642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rs.miomir.udemy.iChat</string>
	<key>PROJECT_ID</key>
	<string>ichat-87cd0</string>
	<key>STORAGE_BUCKET</key>
	<string>ichat-87cd0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486086942642:ios:de21c3c7c7e0d756</string>
	<key>DATABASE_URL</key>
	<string>https://ichat-87cd0.firebaseio.com</string>
</dict>
</plist>